<div class="footer">
    <div class="row">
        <div class="medium-10 columns">
            <img src="/assets/img/polla/logo-footer.png" alt="" class="logo">

            <p>
                Minuto30 s.a.s - Copyright 2014 <a href="#" class="light">Términos y condiciones</a> - <a href="#" class="light">Politica de
                privacidad</a> - <a
                    href="#" class="light">Soporte </a>
            </p>
        </div>
        <div class="medium-2 columns">
            <a href="http://www.dayscript.com" target="_blank"><img src="/assets/img/polla/dayscript.png" alt="" class="dayscript"></a>
        </div>
    </div>
</div>