<div class="header">
    <div class="row">
        <div class="medium-3 columns text-center">
            <a href="/"><img src="/assets/img/polla/pollaganadora.png" alt="" class="logo"></a>
        </div>
        <div class="medium-2 columns text-center">
            <img src="/assets/img/polla/minuto30.jpg" alt="" class="logo-min30">
        </div>
        <div class="menu medium-7 columns text-right hide-for-small-only">
            <ul>
                <li class="home"><a href="/" class="is-active">Inicio</a></li>
                <li><a href="ligas.html">Ligas</a></li>
                <li><a href="pronosticos.html">Mis pronósticos</a></li>
                <li><a href="como-jugar.html">Cómo jugar</a></li>
            </ul>
        </div>
        <div class="show-for-small-only small-12 columns menu">
            <select>
                <option value="">Inicio</option>
                <option value="">Ligas</option>
                <option value="">Mis pronósticos</option>
                <option value="">Cómo jugar</option>
            </select>
        </div>
    </div>
</div>
