<div class="row">
    <div class="medium-12 columns hide-for-small-only">
        <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
            <ul class="orbit-container">
                <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
                <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
                <li class="is-active orbit-slide">
                    <img class="orbit-image" src="/assets/img/ads/premio.jpg" alt="">
                </li>
                <li class="orbit-slide">
                    <img class="orbit-image" src="/assets/img/ads/slide2.jpg" alt="">
                </li>
            </ul>
            <nav class="orbit-bullets">
                <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
                <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
            </nav>
        </div>


    </div>
</div>
<div class="row">
    <div class="medium-4 columns">
        <h1 class="title">Próximo partido</h1>
        <div class="row next-match">
            <div class="small-5 columns team text-right">Estados U<img src="/assets/img/flags/usa.jpg" alt="" class="local"></div>
            <div class="small-2 columns versus text-center">VS</div>
            <div class="small-5 columns team text-left"><img src="/assets/img/flags/colombia.jpg" alt="" class="visitante">Colombia</div>
            <hr class="light">
            <div class="small-12 columns fecha text-center">Sabado 4 de julio</div>
            <div class="small-12 columns text-center">9:00 am</div>
            <hr class="light">
            <div class="small-12 columns fecha-close text-center">Cierre <img src="/assets/img/polla/open.png" alt="" class="cierre">8:30 am</div>
            <hr class="light">
        </div>
        <a href="#" class="medium success button expanded">Pronosticar</a>
    </div>
    <div class="medium-4 columns">
        <h1 class="title">Ranking general</h1>
        <table>
            <tbody>
            <tr>
                <td class="position">1</td>
                <td>Julián Cárdenas</td>
                <td class="points text-right">128</td>
            </tr>
            <tr>
                <td class="position">2</td>
                <td>Carlos Alberto Buendia</td>
                <td class="points text-right">102</td>
            </tr>
            <tr>
                <td class="position">3</td>
                <td>Fernando Palomo Ruiz</td>
                <td class="points text-right">99</td>
            </tr>
            <tr>
                <td class="position">4</td>
                <td>Maria Lucia Quintero</td>
                <td class="points text-right">98</td>
            </tr>
            <tr>
                <td class="position">5</td>
                <td>Tatiana Rodriguez</td>
                <td class="points text-right">85</td>
            </tr>
            </tbody>
        </table>
        <a href="#" class="medium success button expanded">Ver todos</a>
    </div>
    <div class="medium-4 columns">
        <img src="/assets/img/ads/min30.jpg" alt="Minuto30.com" class="ads">
    </div>
</div>