<div class="accordion" data-accordion data-allow-all-closed="true">
    <div class=" accordion-item is-active" data-accordion-item>
        <a href="#" class="row accordion-title">Jugar</a>
        <div class="accordion-content" data-tab-content>
            <div class="row">
                <div class="medium-6 columns register">
                    <div class="row">
                        <div class="columns green-title">Registrarse</div>
                        <div class="large-4 medium-4 columns text-left">
                            <a href="#" class="medium success button expanded">Crear cuenta</a>
                        </div>
                        <div class="large-4 medium-4 columns text-left">
                            <a href="#" class="medium button facebook expanded">Facebook login</a>
                        </div>
                        <div class="large-4 medium-4 columns text-left">
                            <a href="#" class="medium button twitter expanded">Twitter login</a>
                        </div>
                        <div class="columns mensaje">Puede registrarse o iniciar sesión usando su cuenta de Facebook ó
                            Twitter
                        </div>
                    </div>
                    <hr class="light">
                </div>

                <div class="medium-6 columns logueo">
                    <div class="row">
                        <div class="columns green-title">Ingresar</div>
                        <div class="large-4 medium-4 columns text-left">
                            <input type="text" placeholder="Email"/>
                        </div>
                        <div class="large-4 medium-4 columns text-left">
                            <input type="text" placeholder="Contraseña"/>
                        </div>
                        <div class="large-4 medium-4 columns text-left">
                            <a href="#" class="medium success button expanded">Iniciar sesión</a>
                        </div>
                        <div class="columns"><a href="#" class="light">Olvide mi contraseña</a></div>
                    </div>
                    <hr class="light">
                </div>
            </div>
        </div>
    </div>
</div>

